fastjsonschema==2.16.2
mypy==1.10.0
json5==0.9.6
jupyter_core==5.7.2
ultralytics-thop==2.0.9
pytoolconfig==1.2.6
tables==3.9.2
constantly==23.10.4
requests-file==1.5.1
sphinxcontrib-qthelp==1.0.3
blinker==1.6.2
datashader==0.16.3
Werkzeug==3.0.3
Bottleneck==1.3.7
linkify-it-py==2.0.0
validators==0.18.2
pyxdg==0.27
uc-micro-py==1.0.1
fqdn==1.5.1
Jinja2==3.1.4
ptyprocess==0.7.0
datasets==3.2.0
kiwisolver==1.4.4
nbconvert==7.10.0
tzdata==2023.3
rfc3986-validator==0.1.1
SecretStorage==3.3.1
platformdirs==3.10.0
pycodestyle==2.11.1
pydantic_core==2.27.2
flake8==7.0.0
nltk==3.8.1
pylint-venv==3.0.3
pooch==1.7.0
Flask==3.0.3
lazy_loader==0.4
numpy==1.24.3
numpy==1.26.4
idna==3.7
nvidia-nvjitlink-cu12==12.6.20
filelock==3.13.1
Twisted==23.10.0
pillow==10.4.0
pillow==10.3.0
openpyxl==3.1.5
fonttools==4.51.0
smart-open==5.2.1
sphinxcontrib-applehelp==1.0.2
cycler==0.11.0
jsonpointer==3.0.0
docstring-to-markdown==0.11
PySocks==1.7.1
jupyter_client==8.6.0
altair==4.2.2
itsdangerous==2.2.0
service-identity==18.1.0
itemadapter==0.3.0
pyzmq==25.1.2
webcolors==24.11.1
intervaltree==3.1.0
patsy==0.5.6
nbformat==5.9.2
msgpack==1.0.3
nvidia-cusparse-cu12==12.1.0.106
lmdb==1.4.1
Scrapy==2.11.1
attrs==23.1.0
asttokens==2.0.5
cachetools==5.3.3
overrides==7.4.0
terminado==0.17.1
python-lsp-jsonrpc==1.1.2
cytoolz==0.12.2
arrow==1.2.3
jupyterlab-pygments==0.1.2
multidict==6.0.4
ipykernel==6.28.0
nvidia-curand-cu12==10.3.2.106
bleach==4.1.0
cffi==1.15.1
async-timeout==4.0.3
pyodbc==5.0.1
tqdm==4.66.4
locket==1.0.0
intake==0.7.0
jmespath==1.0.1
anyio==4.2.0
text-unidecode==1.3
websocket-client==1.8.0
pyct==0.5.0
nvidia-cufft-cu12==11.0.2.54
annotated-types==0.7.0
click==8.1.7
isort==5.13.2
importlib-metadata==7.0.1
notebook_shim==0.2.3
inflection==0.5.1
panel==1.4.4
accelerate==1.2.1
zope.interface==5.4.0
colorama==0.4.6
pydantic==2.10.4
lxml==5.2.1
pyarrow==18.1.0
wandb==0.19.2
mkl-random==1.2.2
jsonschema-specifications==2023.7.1
autopep8==2.0.4
nest-asyncio==1.6.0
python-dateutil==2.9.0.post0
triton==2.3.0
nvidia-cuda-runtime-cu12==12.1.105
pluggy==1.0.0
SQLAlchemy==2.0.30
xarray==2023.6.0
chardet==4.0.0
sphinxcontrib-devhelp==1.0.2
statsmodels==0.14.2
qstylizer==0.2.2
threadpoolctl==3.5.0
Unidecode==1.2.0
webencodings==0.5.1
imageio==2.33.1
tomlkit==0.11.1
executing==0.8.3
grpcio==1.48.2
notebook==7.0.8
defusedxml==0.7.1
psutil==5.9.0
tenacity==8.2.3
hvplot==0.10.0
Send2Trash==1.8.2
jedi==0.19.1
sortedcontainers==2.4.0
pure-eval==0.2.2
lckr_jupyterlab_variableinspector==3.1.0
nvidia-cudnn-cu12==8.9.2.26
nvidia-nvtx-cu12==12.1.105
pywavelets==1.5.0
textdistance==4.2.1
pyls-spyder==0.4.0
spyder==5.5.1
pycurl==7.45.2
argon2-cffi-bindings==21.2.0
python-slugify==5.0.2
QDarkStyle==3.2.3
fire==0.6.0
numpydoc==1.7.0
certifi==2024.8.30
Babel==2.11.0
et-xmlfile==1.1.0
appdirs==1.4.4
pydocstyle==6.3.0
cookiecutter==2.6.0
yapf==0.40.2
pycparser==2.21
dill==0.3.8
pytesseract==0.3.13
Pygments==2.15.1
Protego==0.1.16
jellyfish==1.0.1
setuptools==72.1.0
mpmath==1.3.0
keyring==24.3.1
sip==6.7.12
soupsieve==2.5
atomicwrites==1.4.0
tldextract==5.1.2
scipy==1.10.1
jupyterlab_server==2.25.1
aiosignal==1.2.0
binaryornot==0.4.4
joblib==1.4.2
scikit-learn==1.5.1
pytest==7.4.4
Pympler==0.9
sphinxcontrib-htmlhelp==2.0.0
aioitertools==0.7.1
huggingface-hub==0.24.5
fsspec==2024.3.1
mccabe==0.7.0
numexpr==2.8.4
docker-pycreds==0.4.0
black==24.4.2
regex==2024.7.24
referencing==0.30.2
ultralytics==8.3.17
nvidia-cuda-nvrtc-cu12==12.1.105
astroid==2.14.2
alabaster==0.7.16
zict==3.0.0
rpds-py==0.10.6
smmap==4.0.0
tifffile==2023.4.12
spyder-kernels==2.5.0
Brotli==1.0.9
charset-normalizer==3.3.2
PyQtWebEngine==5.15.6
rich==13.7.1
packaging==24.1
cloudpickle==3.0.0
entrypoints==0.4
traitlets==5.14.3
botocore==1.34.69
nvidia-cublas-cu12==12.1.3.1
HeapDict==1.0.1
partd==1.4.1
pathspec==0.10.3
ply==3.11
widgetsnbextension==4.0.10
urllib3==2.2.2
jaraco.classes==3.2.1
matplotlib-inline==0.1.6
ipywidgets==8.1.2
pyasn1==0.4.8
tornado==6.4.1
toolz==0.12.0
greenlet==3.0.1
llvmlite==0.43.0
nvidia-cuda-cupti-cu12==12.1.105
h5py==3.11.0
pyviz_comms==3.0.2
python-snappy==0.6.1
absl-py==2.1.0
plotly==5.22.0
pexpect==4.8.0
pip==24.0
python-json-logger==2.0.7
lz4==4.3.2
jeepney==0.7.1
Markdown==3.4.1
streamlit==1.22.0
Sphinx==7.3.7
param==2.1.1
ujson==5.10.0
opencv-python==4.10.0.84
colorcet==3.1.0
sentry-sdk==2.19.2
typing_extensions==4.12.2
pytz==2024.1
jupyter-lsp==2.2.0
comm==0.2.1
jsonschema==4.19.2
snowballstemmer==2.2.0
mkl-service==2.4.0
numba==0.60.0
QtAwesome==1.2.2
torch==2.3.0
jupyterlab-widgets==3.0.10
tblib==1.7.0
networkx==3.3
pandocfilters==1.5.0
requests==2.32.3
nbclient==0.8.0
pyparsing==3.0.9
thop==0.1.1-2209072238
pyerfa==2.0.1.4
frozenlist==1.4.0
s3fs==2024.3.1
diff-match-patch==20200713
six==1.16.0
queuelib==1.6.2
tabulate==0.9.0
prompt-toolkit==3.0.43
astropy==6.1.0
pydeck==0.7.1
debugpy==1.6.7
docutils==0.18.1
tokenizers==0.19.1
incremental==22.10.0
contourpy==1.2.0
PyQt5==5.15.10
exceptiongroup==1.2.0
iniconfig==1.1.1
pyOpenSSL==24.0.0
itemloaders==1.1.0
imagecodecs==2023.1.23
astropy-iers-data==0.2024.6.3.0.31.14
wrapt==1.14.1
bcrypt==3.2.0
tomli==2.0.1
pandas==2.2.2
pyflakes==3.2.0
bokeh==3.4.1
wcwidth==0.2.5
PyQt5-sip==12.13.0
jupyter==1.0.0
safetensors==0.4.3
beautifulsoup4==4.12.3
tzlocal==5.2
python-lsp-black==2.0.0
PyYAML==6.0.1
gensim==4.3.2
seaborn==0.13.2
dask-expr==1.1.0
xyzservices==2022.9.0
qtconsole==5.5.1
jupyter_server_terminals==0.4.4
holoviews==1.19.1
jupyterlab==4.0.11
argon2-cffi==21.3.0
matplotlib==3.8.4
isoduration==20.11.0
python-lsp-server==1.10.0
tensorboard-data-server==0.7.0
jupyter-console==6.6.3
torchaudio==2.3.0
cryptography==42.0.5
dask==2024.5.0
nvidia-nccl-cu12==2.20.5
decorator==5.1.1
toml==0.10.2
imagesize==1.4.1
unicodedata2==15.1.0
Automat==20.2.0
watchdog==4.0.1
three-merge==0.1.1
Rtree==1.0.1
hyperlink==21.0.0
PyDispatcher==2.0.5
parso==0.8.3
uri-template==1.3.0
transformers==4.41.2
pickleshare==0.7.5
torchvision==0.18.0
mkl-fft==1.3.1
sniffio==1.3.0
cssselect==1.2.0
QtPy==2.4.1
parsel==1.8.1
wurlitzer==3.0.2
rope==1.12.0
protobuf==3.20.3
sympy==1.12
tensorboard==2.18.0
mistune==2.0.4
gitdb==4.0.7
zipp==3.17.0
tinycss2==1.2.1
mdit-py-plugins==0.3.0
markdown-it-py==2.2.0
pyasn1-modules==0.2.8
more-itertools==10.1.0
whatthepatch==1.0.2
sphinxcontrib-jsmath==1.0.1
async-lru==2.0.4
nvidia-cusolver-cu12==11.4.5.107
gmpy2==2.1.2
aiobotocore==2.12.3
setproctitle==1.3.4
yarl==1.9.3
jupyter_server==2.14.1
mypy-extensions==1.0.0
MarkupSafe==2.1.3
wheel==0.43.0
scikit-image==0.23.2
multiprocess==0.70.16
pylint==2.16.2
jupyter-events==0.10.0
py-cpuinfo==9.0.0
prometheus-client==0.14.1
mdurl==0.1.0
distributed==2024.5.0
lazy-object-proxy==1.10.0
sphinxcontrib-serializinghtml==1.1.10
stack-data==0.2.0
w3lib==2.1.2
rfc3339-validator==0.1.4
xxhash==3.5.0
multipledispatch==0.6.0
GitPython==3.1.43
termcolor==2.4.0
aiohttp==3.9.5
imbalanced-learn==0.12.3
ipython==8.25.0
importlib_resources==6.4.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
typeguard==4.3.0
autocommand==2.2.2
ordered-set==4.1.0
inflect==7.3.1
packaging==24.1
importlib_metadata==8.0.0
typing_extensions==4.12.2
jaraco.context==5.3.0
platformdirs==4.2.2
tomli==2.0.1
zipp==3.19.2
wheel==0.43.0
backports.tarfile==1.2.0
